/* Styling for the image list */
.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%; /* Images take up 50% of the screen width */
}

/* Styling for individual image items */
.image-item {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100%;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers content within the item */
}

.image-item:hover {
  transform: scale(1.05);
}

/* Crop and scale the image preview */
.image-preview {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-preview img {
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

/* Styling for the vote button */
.image-item button {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.image-item button:hover:not([disabled]) {
  background-color: #666;
}

.image-item button.voted {
  background-color: #008cba;
}

.image-item button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

/* Modal for full-size image */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.modal-content {
  /* Ensure image maintains its original aspect ratio */
  width: auto;
  height: auto;

  /* Scale down image if it exceeds the viewport while maintaining aspect ratio */
  max-width: 90%;
  max-height: 90%;

  /* Ensure the image fits proportionally inside its container */
  object-fit: contain;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
