body {
  background-color: black;
  color: white;
  margin: 0;
}

.profile-container {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  z-index: 1 !important;
  height: 100vh;
  margin-top: 10vh;
  position: relative;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.username {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.handle {
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}
.view-button {
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 25px; /* Make the button rounded */
  background-color: rgba(255, 255, 255, 0.3); /* Translucent background */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
  color: #fff; /* White text */
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.view-button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Slightly less translucent on hover */
  color: #000; /* Change text color to black on hover */
  border: 2px solid rgba(255, 255, 255, 0.8); /* Darker border on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Bigger shadow for the pop-out effect */
}

.view-button:focus {
  outline: none; /* Remove default focus outline */
}

.logout-button {
  padding: 10px 50px;
  border-radius: 5px; /* Make the button rounded */
  background-color: rgba(101, 88, 88, 0.3); /* Translucent background */
  border: 5px solid rgba(104, 81, 81, 0.5); /* Semi-transparent border */
  color: #b16767; /* White text */
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Slightly less translucent on hover */
  color: #000; /* Change text color to black on hover */
  border: 2px solid rgba(72, 31, 31, 0.8); /* Darker border on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Bigger shadow for the pop-out effect */
}

.logout-button:focus {
  outline: none; /* Remove default focus outline */
}
