/* Main app styling */
.app {
  background-color: transparent;
  color: #fff;
  min-height: 50vh; /* Allow the container to grow if content overflows */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; Keep items at the bottom */
  align-items: center;
  font-family: "Arial", sans-serif;
  overflow-y: auto;
  /* padding-top: 50px; Space at the top */
  scroll-padding-bottom: 100px;
  height: 80vh;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  color: #aaa;
  margin-top: 20px;
}

.prompt-box {
  background-color: #1c1c1c;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.prompt-box h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}
